:root{
    --border: #333;
    --font: #222;
    --screen: #e6e2d3;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --calc: #d5f4e6;
    --btnS: #618685;
}

body{
    font-family:'Courier New', Courier, monospace;
    background-color:#fefbd8;
}

#container{
    margin-left:auto;
    margin-right:auto;
    margin-top:6rem;
    align-items:center;
    border:2px solid #333;
    width:420px;
    height:500px;
    background-color: var(--calc);
    border-radius:15px;
}

#screen{
    width:auto;
    height:120px;
    padding:5px;
    border:1px solid #333;
    margin:12px;
    border-radius:15px;
    background-color: var(--screen);
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:flex-end;
}

#input{
    font-size:20px;
}

#output{
    font-size:50px;
}

#button-grid{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:15px;
    padding:15px;
}

.btn-span-2{
    grid-column:span 2;
}

.btn, .btnS, .op, .eq{
    padding:20px;
    border:2px #333 solid;
    border-radius:5px;
    background-color:#eee;
    font-size:20px;
}

.btnS{
    background-color:var(--btnS);
    color: white;
}